
<% if @cup %>
<h2> Estimado: <%= @cup.full_name%></h2>
<h2> Ha elegido un Cupon de la serie: <%= @cup.serie.name%>, el codigo del cupon es: <%= @cup.serial%> </h2>
<%= link_to "Activa tu Cupon ahora!!!", activate_url(:token => @cup.token)%>

<%else%>

<div>
<span><img style="width: 80px;", src='https://s3.amazonaws.com/manuel_myflix/uploads/logo.png' /><h1 style="display: inline; margin-left: 10px; margin-bottom: 50px;">BBbuy Cupones</h1></span> 
</div>
</br>
<h2> Lo sentimos, no hay cupones disponibles de la serie: <%= @serie.name%> </h2>
<h2> Se ha guardado tu correo para enviarte información de nuevas promociones.</h2>
<h2> Saludos</h2>
<%end%>