
<%= form_for(:series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well">
  <div class="field">
    <%= f.label :name , nil, :class=>"h4"%><br>
    <%= f.text_field :name, :class=>"form-control", :id=>"emailtext" %>
  </div>
  <div class="field">
    <%= f.label :value , nil, :class=>"h4"%><br>
    <%= f.text_field :value , :class=>"form-control", :id=>"emailtext"%>
  </div>
  <div class="field">
    <%= f.label :currency , nil, :class=>"h4"%><br>
    <%= f.select :currency, [['MX','MX'],["USD","USD"]] , :class=>"form-control", :id=>"emailtext"%>
  </div>
  <div class="field">
    <%= label :coupons, "coupons", nil, :class=>"h4" %><br>
    <%= text_area :allcoupons, "allcoupons", :class=>"form-control", :id=>"emailtext" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-primary", :id=>"btncreate"%>
  </div>
<% end %>
</div>


 
