<div class='header' align="center">
    <span><img id="bbico", src='/logo.png' /><h1 id="h2icon">Cupones BBbuy</h1></span>
    
</div>


<div align="center" id="divemailimage">
  <a href="http://www.bbbuy.mx/"><img id="emailimage" src="https://s3.amazonaws.com/manuel_myflix/uploads/screen.png" class="img-thumbnail" /></a>
</div>

<div class="body" align="center" id="emailform">
<% if @series == [] %>
      <%= label :noseries, "Lo sentimos, no hay cupones disponibles." %>
<% else %>
  <%= form_for(:series) do |f| %>

    <div class="field" id="divemail">
      <%= label :email, "email:", :id=>"labelemail" %>
      <%= email_field :email, "email", :class=>"form-control", :placeholder => "ejemplo@mail.com"%>
    </div>
    <div class="field" id="divconf">
      <%= label :emailconf, "confirma tu email:" %>
      <%= email_field :emailconf, "emailconf", :class=>"form-control", :placeholder => "ejemplo@mail.com"%>
    </div>
    <!--<div class="field" id="inicio">
      <%= label :full_name, "Nombre Completo:" %></br>
      <%= text_field :full_name, "full_name", :class=>"form-control", :placeholder => "Nombre(s) Apellidos"%>
    </div>-->
    <div class="field">
      <% if @series.count == 1 %>
      <% n = @series.last %>
        <%= label :seriename, "#{n.name}", :id=>"labelserie" %>
        <div class="hidden">
        <%= f.select :name, options_from_collection_for_select(@series, "name", "name"), :class=>"form-control", :id=>"emailtext"%>
        </div>
      <% else %>
        <%= f.label :series , "Elige una serie de cupones", :class=>"h4"%><br>
        <%= f.select :name, options_from_collection_for_select(@series, "name", "name"), :class=>"form-control", :id=>"emailtext"%>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Enviar", :class => "btn btn-primary" %>
    </div>
  <% end %>
  <% end %> 
</div>
