<div class='header' align="center">
    <h1>Bbbuy Coupons</h1>
</div>


<div align="center" id="divemailimage">
  <img id="emailimage" src="http://entrepadres.imujer.com/sites/entrepadres.imujer.com/files/Dibujos-para-bebes-recien-nacidos-14.jpg" class="img-thumbnail" />
</div>

<div class="body" align="center" id="emailform">
<% if @series == [] %>
      <%= label :noseries, "There are no Coupons available" %>
<% else %>
  <%= form_for(:series) do |f| %>

    <div class="field" id="inicio">
      <%= label :email, "email" %></br>
      <%= email_field :email, "email", :class=>"form-control"%>
    </div>
    <div class="field" id="inicio">
      <%= label :full_name, "Name:" %></br>
      <%= text_field :full_name, "full_name", :class=>"form-control"%>
    </div>
    <div class="field">
      <% if @series.count == 1 %>
      <% n = @series.last %>
        <%= label :seriename, "There is only one serie available: #{n.name}", :id=>"labelserie" %>
        <div class="hidden">
        <%= f.select :name, options_from_collection_for_select(@series, "name", "name"), :class=>"form-control", :id=>"emailtext"%>
        </div>
      <% else %>
        <%= f.label :series , "Choose a Serie", :class=>"h4"%><br>
        <%= f.select :name, options_from_collection_for_select(@series, "name", "name"), :class=>"form-control", :id=>"emailtext"%>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "send", :class => "btn btn-primary" %>
    </div>
  <% end %>
  <% end %> 
</div>
