<h1>Listing Series</h1>

<%= link_to 'New Serie', new_series_path %>
</br>
</br>
<table class='table'>
  <thead>
    <tr>

      <th>Name</th>
      <th>Created</th>
      <th>Value</th>
      <th>Currency</th>
      <th>Cupons</th>
      <th>Disponibility</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= link_to series.name, series %></td>
        <td><%= series.created_at %></td>
        <td><%= series.value %></td>
        <td><%= series.currency %></td>
        <td><%= series.coupons.count %></td>
        <td><%= series.coupons.where(sent: nil).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Log Out', sign_out_path %>
<br>


