<h1>Serie <%= @series.name%></h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sent</th>
      <th>Delivered</th>
      <th>Recipient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @series.coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.serial %></td>
        <td><%= coupon.sent %></td>
        <td><%= coupon.delivered %></td>
        <td><%= coupon.recipient %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', series_index_path %> | <%= link_to 'Log Out', sign_out_path %>
