
<span><img id="bbico", src='/logo.png' /><h1 id="h2icon">Serie <%= @series.name%></h1></span>
</br>
</br>
<p>
  <%= link_to "Exportar", series_path(format: "csv"), class: "btn btn-primary btn-sm"  %>
   <!--<%= link_to "Exportar", series_path(format: "xls"), class: "btn btn-primary btn-sm"  %>-->

</p>
<div style="width:100%; height: 500px; overflow:auto;">
<table class='table'>
  <thead>
    <tr>
    
      <th>Serie</th>
      <th>Name</th>
      <th>Sent</th>
      <th>Delivered</th>
      <th>Recipient</th>
      <th>Name</th>
      <!--<th>Ip</th>
      <th>Ip2</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @series.coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.serie.name %></td>
        <td><%= coupon.serial %></td>
        <td><%= coupon.sent %></td>
        <td><%= coupon.delivered %></td>
        <td><%= coupon.recipient %></td>  
        <td><%= coupon.full_name %></td>
        <!--<td><%= coupon.ip %></td>   
        <td><%= coupon.ip2 %></td>-->   
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Back', series_index_path %> | <%= link_to 'Log Out', sign_out_path %>
